@charset "utf-8";
/* CSS Document */
#test {
  align-content: center;
}
body {
  background-color: lightblue;
}
.center {
  color: white;
  text-align: center;
}
#gougu {
  color: #EEA6F3;
  text-align: center;
}